{% extends 'base.html' %}

{% block content %}
<h2>クイズ開始</h2>

<form method="POST" action="{% url 'quiz:submit_answer' %}">
  {% csrf_token %}
  <input type="hidden" name="video_id" value="{{ video_id }}">

  {% for quiz in quizzes %}
    <div class="quiz-block">
      <p><strong>Q{{ forloop.counter }}. {{ quiz.question }}</strong></p>

      <input type="radio" name="quiz_{{ quiz.id }}" value="1" required> {{ quiz.option_1 }}<br>
      <input type="radio" name="quiz_{{ quiz.id }}" value="2"> {{ quiz.option_2 }}<br>
      <input type="radio" name="quiz_{{ quiz.id }}" value="3"> {{ quiz.option_3 }}<br>
      <input type="radio" name="quiz_{{ quiz.id }}" value="4"> {{ quiz.option_4 }}<br>

      <hr>
    </div>
  {% endfor %}

  <button type="submit">送信</button>
</form>
{% endblock %}
